body{
	background: #CFD8DC;
}
.col-xs-12.about{
	background-image: url("https://3ijaxq.by3302.livefilestore.com/y3mkM4BnzxQFVz_tU8j8CoYUFpL6s_6JJe552LlK4OVgoVGOy6_P0jDICCpZp6u8kH_SVEDEE5TY2xMWW-iTXBhi_ACXtL_X-nnf9w1AxcOJxTyu8ZGH69v8vopdT13KYsgqsrUxUcDVARpNrOzZFXgRGlQstsEG4G-fvEU3QcfbLM?width=2592&height=1936&cropmode=none");
	background-clip: content-box;
	background-origin: content-box;
	background-size: contain;
	max-height: 600px;
}
#about{
	padding: 70px 0px 0px 0px;
}
.nav-shadow{
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}
.navbar.navbar-default{
	background-color: #607D8B;
}