body{
	background: #CFD8DC;
}

h4{
	margin-bottom: 10px;
	font-weight: bold;
}

#about{
	padding: 70px 0px 0px 0px;
}

.panel{
	color: #fff;
	border-radius: 3px 3px 0px 0px;
}
.panel-header{
	background-color: #8BC34A;
	color: #fff;
	margin-bottom: 10px;
	font-weight: bold;
	text-align: right;
}
.panel-body{
	background-color: #455A64;
}

.nav-shadow{
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}
.navbar.navbar-default{
	background-color: #607D8B;
}