body{
	background: #CFD8DC;
	color: #ECEFF1;
}

h4{
	margin-bottom: 10px;
	font-weight: bold;
}

#about{
	padding: 70px 0px 0px 0px;
}
#projects{
	margin: 10px;
	padding-top: 50px;
}
.panel{
	color: #ECEFF1;
	border-radius: 10px 10px 0px 0px;
}
.panel-header{
	background-color: #8BC34A;
	color: #ECEFF1;
	font-weight: bold;
	font-size: 1.5em;
	text-align: right;
	border-radius: 10px 10px 0px 0px;
	padding: 0px 15px 0px 0px;
}
.panel-body{
	background-color: #37474F;
}

.nav-shadow{
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}
.navbar.navbar-default{
	background-color: #263238;
	color: #ECEFF1;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}